@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
  box-sizing: border-box;
}
body  {
  font-family: 'Alexandria', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex{
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}


h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.container  {
  max-width: 1200px;
  margin: 0 auto;
}

.section-offset {
  padding-top: 160px;
  padding-bottom: 120px;
}

/*-----section-skills------*/

.skill-card__icon  {
  display: block;
  max-width: 64px;
  max-height: 64px;
}
